.formControl.error textarea,
.formControl.error input {
    border: 2px solid red;
}

.formControl.error span {
    color: #d7cda9;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: #ffffff;
}