.nav {
  grid-area: n;
  background-color: rgba(239, 239, 239, 0.5);
  padding: 20px;
  border: 1px solid lightslategrey;
  border-radius: 5px;
  min-height: 90vh;
}

.item {
  padding: 3px;
}
.item a{
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.item a.active {
  color: #d23b3b;
}
