.app-wrapper {
    margin: 10px auto;
    display: grid;
    max-width: 1200px;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    max-height: 90vh;
}

.app-wrapper-content {
    grid-area: c;
}
